
<h1>Cocktail</h1>

<div id="cocktails">
  <% @cocktails.each do |cocktail| %>
    <%= render cocktail %>
    <p>
      <%= link_to "Show this cocktail", cocktail %>
    </p>
  <% end %>
</div>

<div class="see-all">
    <%= link_to "View all cocktails", lists_index_path %>
</div>